<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="file-details-container">
        <a href="/">Go back to home screen</a>
        <div class="file-details">
          <h1><%=filename%></h1>
          <p>
            <%=filedetails%>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
